
body {
    display: block;
    font-family: "Garamond", "Georgia", serif;
    color: #222222;
}

img {
    width: 150px;
}

.uppercase {
    text-transform: uppercase;
    font-weight: normal;
}

#title {
    color: gray;
}